<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @car.min_price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @car.seller %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
