<!DOCTYPE html>
<html>
  <head>
    <title>CarBecho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Home", cars_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to "Cars", cars_path, class:"nav-link active"%>
    </li>
  </ul>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
